[Unit]
Description=Web server to configure WiFi, username, password, etc.

[Service]
ExecStart=/usr/bin/node /opt/rabbitmax-config/index.js 

[Install]
WantedBy=multi-user.target
